<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- 
    Here, we override the MaxQuantityInStock entry from global level.
    This override will take affect only for prod environment.
    
    The LowStockWarningQuantity entry is not changed, and will have the default value as configured for global level
  -->

  <InventoryConfig MaxQuantityInStock="6000" />  

</configuration>