<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- 
    Here, we override the MaxItemsInStock entry from global level.
    This override will take affect only for prod environment.
    
    The LowStockWarning entry is not changed, and will have the default value as configured for global level
  -->

  <Inventory.MaxItemsInStock>6000</Inventory.MaxItemsInStock>  

</configuration>