<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <Discovery>
    <Services>
      <GpuService Source="Local">
        <CachingPolicy Enabled="true" RefreshTime="00:01:00" />
      </GpuService>
    </Services>
  </Discovery>
  
  <HashingSettings Algorithm="SHA256" Rounds="3" />
  
</configuration>
