<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- 
    Here, we override the MaxItemsInStock entry from global level.
    We want to debug the MaxItems feature, so we need it to be a small number.
    
    This override will take affect only for dev environment.
    
    The LowStockWarning entry is not changed, and will have the default value as configured for global level
  -->

  <Inventory>
    <MaxItemsInStock>10</MaxItemsInStock>
  </Inventory>

</configuration>