<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
  This configuration will affect for all environments, since it is on the "global" level at configPaths.json file  
  -->

  <InventoryConfig LowStockWarningQuantity="20" MaxQuantityInStock="1000"/>
  <!-- 
    Configuration entry is defined here by a XML attribute, 
    but it is equal to defining it by a XML element, as following:        
      
      <InventoryConfig>
        <LowStockWarningQuantity>20</LowStockWarningQuantity>
        <MaxQuantityInStock>1000</MaxQuantityInStock>
      </InventoryConfig> 

    or:
    
      <InventoryConfig.LowStockWarningQuantity>20</InventoryConfig.LowStockWarningQuantity>
      <InventoryConfig.MaxQuantityInStock>1000</InventoryConfig.MaxQuantityInStock>      
  -->

</configuration>