<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net47" />
  <package id="DataAnnotationsValidator" version="2.0.0" targetFramework="net47" />
  <package id="Gigya.Microdot.Configuration" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.Hosting" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.Interfaces" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.Logging.NLog" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.Ninject" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.ServiceDiscovery" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.ServiceProxy" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.Microdot.SharedLogic" version="1.7.10" targetFramework="net47" />
  <package id="Gigya.ServiceContract" version="2.4.18" targetFramework="net47" />
  <package id="Metrics.NET" version="0.5.3" targetFramework="net47" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Ninject" version="3.3.4" targetFramework="net47" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net47" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net47" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net47" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net47" />
</packages>