source https://www.nuget.org/api/v2/
framework: auto-detect

nuget Gigya.ServiceContract ~> 2.0
nuget Gigya.Microdot.Interfaces ~> 1.0
nuget Gigya.Microdot.Orleans.Hosting ~> 1.0
nuget Gigya.Microdot.Orleans.Ninject.Host ~> 1.0
nuget Gigya.Microdot.Logging.NLog ~> 1.0
nuget Gigya.Microdot.Ninject ~> 1.0