<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <nlog throwExceptions="true" throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      
        <targets>
            <target name="Console" xsi:type="ColoredConsole" layout="${time} ${pad:padding=-5:inner=${level:uppercase=true}}  ${message}"/>
            <target name="Null" xsi:type="Null"/>
        </targets>
      
        <rules>
            <logger name="Gigya.Microdot.Orleans.Hosting.Logging.OrleansLogConsumer" maxlevel="Info" writeTo="Null" final="true" />
            <logger name="*" minlevel="Info" writeTo="Console" />
        </rules>
      
    </nlog>

    <runtime>
        <gcServer enabled="true" />
        <gcConcurrent enabled="false" />
    </runtime>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>