<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
  This configuration will affect for all environments, since it is on the "global" level at loadPaths.json file  
  -->
  
  <Inventory LowStockWarning="20" MaxItemsInStock="1000"/>
  <!-- 
    Configuration entry is defined here by a XML attribute, 
    but it is equal to defining it by a XML element, as following:        
      
      <Inventory>
        <LowStockWarning>20</LowStockWarning>
        <MaxItemsInStock>1000</MaxItemsInStock>
      </Inventory> 

    or:
    
      <Inventory.LowStockWarning>20</Inventory.LowStockWarning>
      <Inventory.MaxItemsInStock>1000</Inventory.MaxItemsInStock>      
  -->
  
</configuration>